<h2>Add new post</h2>
We will add post here

		<form action="/new" method="POST" role="form">
		 <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type post here" rows="6"></textarea>
		  <br></br>
		 <button type="submit" class="btn btn-primary">Submit</button>
		</form>